body{
    font-family: 'Montserrat', sans-serif;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
    background:rgb(153, 153, 153);
  }

.page-container {
    position: relative;
    min-height: 100vh;
    padding-bottom:60px;   /* Height of the footer */
  }

  textarea{
    resize: none;
  }

  .comment-text{
    background-color: rgb(197, 197, 197);
    border-radius: 10px;
    width: 100%;
    margin-left: 10px;
  }

  .comment-photo{
    margin: auto;
  }

  .comment-photo img{
    width: 70px;
    height: auto;
  }
  .comment{
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .comment-inner{
    margin: 0.5em;
  }

  .comment-author{
    color: rgb(0, 0, 112);
    font-weight: 700;
  }

  .deleteForm, .comment-options{
    display: inline;
  }

  .display-left{
    float: right;
  }

  .comment-option{
    font-size: 14px;
    border-color: #1172c4;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 3px 6px;
    background-color: transparent;
    color: #007bff;
    margin: 2px;
  }

  .comment-option:hover {
    color: white;
    background: #1172c4;
    border-color: none;
    transition: all 0.2s linear;
    text-decoration: none;
  }